@import "~reset-css/sass/reset";
@import "~react-responsive-carousel/lib/styles/carousel.min.css";
@import "~react-multi-carousel/lib/styles.css";
@import "~react-paginate/demo/styles/style.css";
@import "styles/mixins";
@import "styles/header";
@import "styles/variables";
@import "styles/benefits";
@import "styles/company-info";
@import "styles/partners";
@import "styles/feedback";
@import "styles/press-center";
@import "styles/about-company";
@import "styles/catalog-banner";
@import "styles/the-brand";
@import "styles/product-sections";
@import "styles/product-feedback";
@import "styles/children-food";
@import "styles/partners-quality";
@import "styles/partners-three-blocks";
@import "styles/press-center-cards";
@import "styles/contacts-info";
@import "styles/footer";
@import "styles/certificate-carousel";
@import "styles/mobile-header";
@import "styles/basket";

@font-face {
  font-family: Montserrat;
  src: url("./public/fonts/montserrat-black.ttf");
  src: url("./public/fonts/montserrat-blackItalic.ttf");
  src: url("./public/fonts/montserrat-bold.ttf");
  src: url("./public/fonts/montserrat-boldItalic.ttf");
  src: url("./public/fonts/montserrat-light.ttf");
  src: url("./public/fonts/montserrat-medium.ttf");
  src: url("./public/fonts/montserrat-regular.ttf");
}

* {
  box-sizing: border-box;
  outline: none;
  padding: 0;
  margin: 0;
  border: 0;
}


html {
  width: 100%;
  height: 100%;
  font-size: 14px;
}

body {
  width: 100%;
  height: 100%;
  color: #4c4d4f;
  font-family: Montserrat, "sans-serif";
  background-color: $white;
  font-weight: lighter;
}

a {
  text-decoration: none;
}
.bg-grey{
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.wrapper-gray {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.carousel-status {
  display: none;
}

@media(max-width: 1680px) {
  html {
    font-size: 14px;
  }
  .container {
    max-width: 920px;
  }
}

@media(max-width: 1320px) {
  html {
    font-size: 12px;
  }
  .container {
    max-width: 920px;
  }
}

@media(max-width: 1024px) {
  html {
    font-size: 12px;
  }
  .container {
    max-width: 768px;
  }
}

@media(max-width: 840px) {
  html {
    font-size: 10px;
  }
  .container {
    max-width: 596px;
  }
}

@media(max-width: 620px) {
  .container {
    max-width: calc(100% - 20px);
    margin: 0 auto;
  }
}

.phone-dep {
  color: $grey;
}


.label-star {
  color: red;
}
