@import "~reset-css/sass/reset";
@import "~react-responsive-carousel/lib/styles/carousel.min.css";
@import "~react-multi-carousel/lib/styles.css";
@import "~react-paginate/demo/styles/style.css";
@import "styles/mixins";
@import "styles/header";
@import "styles/variables";
@import "styles/benefits";
@import "styles/companyInfo";
@import "styles/partners";
@import "styles/feedback";
@import "styles/pressCenter";

@font-face {
  font-family: Montserrat;
  src: url("./public/fonts/Montserrat-Black.ttf");
  src: url("./public/fonts/Montserrat-BlackItalic.ttf");
  src: url("./public/fonts/Montserrat-Bold.ttf");
  src: url("./public/fonts/Montserrat-BoldItalic.ttf");
  src: url("./public/fonts/Montserrat-Light.ttf");
  src: url("./public/fonts/Montserrat-Medium.ttf");
  src: url("./public/fonts/Montserrat-Regular.ttf");
}

* {
  box-sizing: border-box;
  outline: none;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  color: #4c4d4f;
  font-size: 16px;
  font-family: Montserrat, "sans-serif";
  background-color: $white;
  font-weight: lighter;
}

a {
  text-decoration: none;
}

.container {
  margin: 3rem 5rem;
}

.label-star {
  color: red;
}

.label-star{
  color: blue;
}
