@import "styles/mixins";
@import "styles/variables";

.catalog-benefits {
  padding: 80px 0px;

  &-title {
    @include section-title();
    font-size: 1.5rem;
    max-width: 740px;
    margin-bottom: 30px;
  }

  &-container {
    margin-bottom: 30px;
    line-height: 1.4;
  }

  &-text-title {
    font-weight: bold;
  }

  &-text {

  }

  &-button {
    @include green-button();
  }
}

@media (max-width: 968px) {
  .catalog-benefits {
    padding: 20px 0 20px 0;
  }
}

.c-b-c {
  display: flex;
  justify-content: center;
}