@import "styles/mixins";
@import "styles/variables";

.news-item {
  &-title {
    @include section-title()
    margin-bottom: 30px;
  }

  &-banner {
    width: 100%;
    height: 423px;
    object-fit: contain;
  }

  &-time {
    color: #4C4D4F;
    opacity: 0.5;
    margin-bottom: 30px;
  }

  &-text {
    line-height: 1.4;
    margin-bottom: 30px;
  }

  &-green-line {
    height: 3px;
    width: 100%;
    background: #B0CD8B;
    margin-bottom: 30px;
  }

  &-news {
    margin-bottom: 100px;
  }
}