@import "variables";
@import "mixins";


.about-company{
    margin-top: 4rem;
}
.info-company{
    display: flex;
    justify-content: space-between;
}

.man{
    width: 354px;
    height: 419px;
    margin-right: 3rem;
}
.mantwo{
    display: none;
}

.title-company{
    @include section-title();
    margin-bottom: 1rem;

}

.text-company{
   @include text();
}

// quality

.bg{
    background-color: rgba(241, 241, 241, 0.5);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin-bottom: 3.5rem;
    margin-top: 75px;
}

.quality{   
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: #4C4D4F;
    padding: 1.6rem;
}

.quality-tech{
    width: 30%;
    padding-right: 1rem;
}

.quality__icon-one{
    width: 4.8rem;
    height: 4.6rem;
    margin-bottom: 1.6rem;
}
.quality__icon-two{
    width: 5.9rem;
    height: 4.75rem;
    margin-bottom: 1.6rem;
}
.quality__icon-three{
    width: 4.8rem;
    height: 4.4rem;
    margin-bottom: 1.6rem;
}

.title__quality{
    @include subtitle();
    text-transform: uppercase;
    margin-bottom: 0.6rem;
}

.text__quality{
    @include text();
}

// warranty

.title-warranty{
    @include section-title();
    text-align: center;
    margin-bottom: 1rem;
}

.text-warrantl{
    @include text();
}

  @media (max-width: 1010px) {    
    .quality-tech{
        width: 100%;
        padding-right: 1rem;
        padding-bottom: 2rem;
    }
  }

  @media (max-width: 736px){
    .about-company{
        margin-top: 2rem;
    }
    .info-company{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 0 1.6rem;
    }
    .text-warrantl{
        padding-left: 1rem;
    }
  }
  @media (max-width: 419px){
    .photo-company{
        // margin-right: 0rem;
        // margin-top: 0;   
    }
    .man{
       display: none; 
    }
    .mantwo {
        display: block;
        max-width: 100%;
    }
    .about-company{
        margin-top: 0;
    }
    .info-company{
        padding: 0;
        margin: 0;
    }
    .info{
        padding: 0.9rem;  
    }
    .info{
        position: relative;
    }
    .title-company{
        position: absolute;
        top: -120px;
        color: #fff;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
    }
    .text-warrantl{
        padding-left: 0.8rem;
    }
  }
