@import "variables";
@import "mixins";



.info-company{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    margin-bottom: -40px;
}

.photo-company{
    margin-right: 60px;
    margin-left: 100px;
    width: 754px;
    height: 970px;
}

.title-company{
    font-weight: bold;
    font-size: 32px;
    line-height: 52px;
    margin-bottom: 11px;
}

.title-company::after {
    content: '';
    display: block;
    
    width: 210px;
    height: 6px;
    background-color: #B0CD8B;;
    
}

.text-company{
    font-size: 20px;
    line-height: 32px;
    width: 50%;
}

// quality

.bg{
    background-color: rgba(196, 196, 196, 0.1);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.quality{   
    display: flex;
    justify-content: space-between;
    color: #4C4D4F;
    padding: 25px;
    
}

.quality-tech{
    width: 28%;
    
}

.quality__icon-one{
    width: 77px;
    height: 75px;
    margin-bottom: 25px;
}
.quality__icon-two{
    width: 95px;
    height: 76px;
    margin-bottom: 25px;
}
.quality__icon-three{
    width: 77px;
    height: 71px;
    margin-bottom: 25px;
}

.title__quality{
    font-weight: bold;
    font-size: 17px;
    line-height: 28px;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.text__quality{
    font-size: 20px;
    line-height: 30px;
}

// warranty

.warranty{
    margin-top: 100px;
}

.title-warranty{
    font-weight: bold;
    font-size: 40px;
    line-height: 74px;
    text-align: center;
}

.title-warranty::after{
    content: '';
    display: block;
    
    width: 400px;
    height: 6px;
    background-color: #B0CD8B;
    margin: auto;

    margin-bottom: 63px;
}

.text-warrantl{
    font-size: 29px;
    line-height: 35px;
}


// footer

.footer{
    display: flex;
    margin-top: 260px;
    justify-content: space-between;
    margin-bottom: 40px;
}

// .footer-contacts--first{
// width: 30%;
// }

// .footer-contacts--second{
// width: 40%;
// }

// .footer-contacts--last{
// width: 30%;
// }


.logo-footer{
    width: 249px;
    height: 32px;
}

.contacts{
    font-weight: bold;
    font-size: 30px;
    line-height: 39px;
    margin-bottom: 27px;
    margin-top: 20px;
}

.number{
    font-size: 15px;
    line-height: 36px;
}

.indentation{
    margin-bottom: 33px;
}

.icon-contacts{
    width: 20px;
    height: 25px;
    margin-right: 20px;
    left: 10px;
}
.icon-contacts--mail{
    width: 25px;
    height: 15px;
    margin-right: 20px;
}

.adress{
    font-size: 15px;
    line-height: 36px;
}

.section-nav{
    font-size: 15px;
    line-height: 39px;
}

.section-nav>li:hover {
    text-decoration: underline;
    cursor: pointer;
}


