@import "variables";
@import "mixins";

.benefits-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.down{
  padding-bottom: 5rem;
  padding-bottom: 5rem;
}
.img-benefits{
  padding-bottom: 2rem;
}

.benefits {
  display: grid;
  grid-template-columns: repeat(5, max-content);
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  padding: 3rem 0;
  align-items: baseline;

  &-btn {
    @include green-button();
  }

  &-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 25rem;
    margin-bottom: 2rem;
    margin-right: 2rem;

    &__title {
      text-align: center;
      font-size: 1.5rem;
      line-height: 1.5;
      white-space: pre-line;
      padding-bottom: 1rem;
    }
  }
}

@media(max-width: 1000px){
  .benefits {
    grid-template-columns: repeat(auto-fit, minmax(150px, 280px));

    &-item {
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;

      &__img {
        width: 100px;
      }
    }
  }
}

@media(max-width: 620px) {
  .benefits {
    &-item {
      &__title {
        text-align: left;
        padding-left: 1rem;
      }
    }
  }
  .benefits-container {
    align-items: flex-start;
  }
}

@media(max-width: 320px){
  .benefits-item{
    text-align: center;
    width: 100%;
    margin-left: 2rem;
  }
}
