@import "variables";
@import "mixins";

.benefits-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.benefits {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 3rem 0;

  &-btn {
    @include green-button();
  }

  &-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 25rem;

    &__title {
      text-align: center;
      font-size: 1.5rem;
      line-height: 1.5;
      white-space: pre-line;
    }
  }
}
