@import "variables";
@import "mixins";

.benefits-container {
  display: flex;
  flex-direction: column;
  background-color: $light-grey;
  align-items: center;
  padding-bottom: 2rem;
}

.benefits {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 7rem 5rem 4rem 5rem;

  &-btn {
    @include green-button();
  }

  &-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 25rem;

    &__title {
      text-align: center;
      font-size: 2rem;
      line-height: 1.5;
      white-space: pre-line;
    }

    &__img {
    }
  }
}
