@import "variables";
@import "mixins";

.certificate-carousel {
  display: flex;
  justify-content: center;
  background-color: $light-grey;
  width: 100%;
  padding: 3rem 0;
  margin: 3rem 0;

  .carousel-slider {
    max-width: 500px;
  }
}
@media(max-width: 799px){
  .img-quality{
    width: 20rem;
  }

}
