@import "variables";
@import "mixins";



.title-contacts{
    padding: 4rem 0;
    @include section-title();   
}

.wrapper-contacts{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 3rem 0;

}

.icon-communication{
    width: 2rem;
    padding-bottom: 1.25rem;
}
.email{
    width: 3rem;
    padding-bottom: 1.4rem;
}
.title-communication{
    @include subtitle();
    padding-bottom: 0.9rem;
}

.text-communication{
    @include text();
}

.text-number{
    @include text();
}

b {
    font-weight: bold;
}

.department{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-left: 0.6rem;
    margin-top: 9.3rem;
}

.department-title{
    flex-basis: 34%;
    padding-bottom: 3.12rem;
    padding-right: 0;
    margin-right: 2rem;
    margin-left: 2rem;
}

.arrow-com{
    position: relative;
}
.arrow-com::before{
    content: "";
    position: absolute;
    top: 5px;
    left: -45px;
    width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-left: 20px solid #B0CD8B;
	border-bottom: 10px solid transparent;
}

.phone-dep{
    @include text();
}

// feedback-contacts

.feedback-contacts{
    margin-top: 6.25rem;
    display: flex;
    justify-content: space-between;
    padding: 3rem 0;
}

.border-left{
    position: relative;
}

.border-left::after {
    content: '';
    position: absolute;
    background: #C4C4C4;
    width: 3px;
    height: 250px;
    top: 0;
    left: 560px;
}

.fill{
    width: 40%;
}

.title-fill{
    @include subtitle();
    margin-bottom: 1rem;
}

.subtitle-fill{
    @include text();
    width: 60%;
}

.btn-fill{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    margin-top: 70px;
    font-size: 1.5rem;
    line-height: 31px;
    text-align: center;
    width: 308px;
    height: 70px;
    background: rgba(176, 205, 139, 0.5);
    border: none;
    color: #4C4D4F;
    cursor: pointer;
}

.btn-fill:hover {
    background: rgba(150, 192, 94, 0.5);
}

.icon-pen{
    width: 1.7rem;
    margin-right: 10px;
}

.number-phone{
    @include section-title();
    margin-top: 1.25rem;
    color: #CF686F;   
}

.map-geo{
    padding-top: 8rem;
}


@media(max-width: 1222px){
    .title-contacts{
        padding-right: 2rem;
        padding-left: 2rem;
    }

    .wrapper-contacts{
        padding-right: 2rem;
        padding-left: 2rem;
    }

    .department{
        padding-right: 2rem;
        padding-left: 2rem;
    }

    .feedback-contacts{
        padding-right: 2rem;
        padding-left: 2rem;
    }

    .border-left::after {
        content: '';
        display: none;
    }
}
@media(max-width: 1222px){
    .title-fill {
        font-size: 1.5rem;
        font-weight: bold;
        line-height: 2.4rem;
    }
    .number-phone {
        font-size: 1.5rem;
    }
    .btn-fill {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        margin-top: 4rem;
        font-size: 1.5rem;
        line-height: 1.9rem;
        text-align: center;
        width: 18rem;
        height: 4.37rem;
        
    }
}

@media(max-width: 770px){
    .contacts-block{
        flex-basis: 40%;
        padding-bottom: 2rem;
    }
    .department-title{
        padding-left: 2rem;
        flex-basis: 70%;
    }
    .feedback-contacts{
        margin-top: 6.25rem;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .fill{
        flex-basis: 70%;
    }
    .subtitle-fill {
        font-size: 1.2rem;
        line-height: 1.8rem;
        width: 100%;
    }
    .btn-fill {
        margin-bottom: 3rem;
    }
}

@media(max-width: 520px){
    .contacts-block{
        flex-basis: 80%;
        padding-bottom: 2rem;
    }
    .title-contacts {
        padding: 3rem 0;
        font-size: 2rem;
        font-weight: bold;
        line-height: 2.4rem;
    }
    .icon-communication {
        width: 1.4rem;
        padding-bottom: 1.25rem;
    }
    .title-communication {
        font-size: 1.5rem;
        padding-bottom: 0.5rem;
    }
    .text-communication {
        font-size: 1.4rem;
        line-height: 1.8rem;
    }
    .text-number {
        font-size: 1.3rem;
        line-height: 1.8rem;
    }
}

@media(max-width: 360px){
    .title-contacts{
        padding-right: 1rem;
        padding-left: 1rem;
    }

    .wrapper-contacts{
        padding-right: 1rem;
        padding-left: 1rem;
    }

    .department{
        padding-right: 1rem;
        padding-left: 1rem;
    }

    .feedback-contacts{
        padding-right: 1rem;
        padding-left: 1rem;
    }
    .title-contacts {
        padding: 3rem 0;
        font-size: 2rem;
        font-weight: bold;
        line-height: 2.4rem;
    }
    .icon-communication {
        width: 1.4rem;
        padding-bottom: 1.25rem;
    }
    .title-communication {
        font-size: 1.5rem;
        padding-bottom: 0.5rem;
    }
    .text-communication {
        font-size: 1.4rem;
        line-height: 1.8rem;
    }
    .text-number {
        font-size: 1.3rem;
        line-height: 1.8rem;
    }
    .contacts-block {
        padding-bottom: 2rem;
    }
    .phone-dep {
        font-size: 1.3rem;
        line-height: 1.8rem;
    }
    .title-fill {
        font-size: 1.5rem;
        font-weight: bold;
        line-height: 2rem;
        width: 157%;
    }
    .subtitle-fill {
        font-size: 1.3rem;
        line-height: 1.8rem;
        width: 150%;
    }
    .number-phone {
        font-size: 1.2rem;
    }
    .btn-fill {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        margin-top: 4rem;
        margin-left: 2.7rem;
        font-size: 1.2rem;
        line-height: 1.2rem;
        text-align: center;
        width: 12rem;
        height: 3rem;
    }
    .icon-pen{
        display: none;
    }
}