@import "variables";
@import "mixins";

.feedback {
  padding-top: 3rem;

  &-title {
    @include section-title();
    margin-bottom: 2rem;
  }

  &-subtitle {
    margin-bottom: 0.6rem;
  }

  &-hint {
    display: block;
    color: darkgray;
    margin-bottom: 3rem;
  }

  &-form {
    display: flex;
    flex-direction: column;


    &-left {
      max-height: 189px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding-right: 40px;
    }

    &-right {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }

    &__label {
      display: flex;
      flex-direction: column;
    }

    &__input {
      background: #fff;
      box-shadow: 0px 2.58083px 12.9042px rgba(0, 0, 0, 0.39);
      border-radius: 12.9042px;
      border: none;
      padding: 1rem;
      width: 340px;
    }

    &__textarea {
      background: #fff;
      box-shadow: 0px 2.58083px 12.9042px rgba(0, 0, 0, 0.39);
      border-radius: 12.9042px;
      width: 370px;
      padding: 1rem;
    }

    &__select {
      background: #fff;
      box-shadow: 0px 2.58083px 12.9042px rgba(0, 0, 0, 0.39);
      border-radius: 12.9042px;
      min-width: 30rem;
      padding: 1rem;

      option:first-child {
        color: red;
    }
    }

    &-button {
      width: 220px;
      text-align: center;
      @include green-button();
    }
    &-button:hover {
      background: rgba(150, 192, 94, 0.5);
    }

    &-button_mobile {
      display: none;
    }
  }
}

@media (max-width: 1170px) {
  .feedback {
    &-form {
      justify-content: space-evenly;
      &__input {
        width: 20rem;
      }

      &__textarea {
        width: 20rem;
      }

      &__select {
        min-width: 20rem;
      }
    }
  }
}

@media (max-width: 560px) {
  .feedback-form-left{
    padding-right: 0;
    margin-right: 5rem;
    width: 100%;
  }
  .feedback-form-right{
    width: 100%;
  }
  .style-form{
    margin-left: 3rem;
  }
  .mess{
    margin-left: 1rem;
  }
  .feedback-form{
    flex-direction: column;
    align-items: center;
  }
  .feedback-form-button{
    display: none;
  }
  .feedback-form__label{
    width: 100%;
    margin-bottom: 2rem;
  }
  .feedback-form__textarea{
    width: 100%;
    margin: 0
  }
  .feedback-form__select{
    width: 100%;
  }
  
      // &-button_mobile {
      //   display: block;
      //   margin-top: 2rem;
      // }
  
  .feedback-form__input {
    width: 99%;
    margin-left: 3rem;
  }
}


@media (max-width: 414px){
  .feedback-form__input {
    width: 99%;
    margin-right: 0;
    margin-left: 3rem;
  }
}

@media (max-width: 375px){
  .feedback-form__input {
    width: 99%;
    margin-right: 0;
    margin-left: 3rem;
  }
}
.new-feedback-hint {
  font-size: 12px;
  color: #4C4D4F;
  padding: 24px;
  padding-left: 0;
  max-width: 800px;
  line-height: 1.4;
}
