@import "variables";
@import "mixins";

.feedback {
  padding-top: 3rem;

  &-title {
    @include section-title();
    margin-bottom: 2rem;
  }

  &-subtitle {
    margin-bottom: 0.6rem;
  }

  &-hint {
    display: block;
    color: darkgray;
    margin-bottom: 3rem;
  }

  &-form {
    display: flex;
    justify-content: flex-start;
    

    &-left {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding-right: 6rem;
    }

    &-right {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }

    &__label {
      display: flex;
      flex-direction: column;
    }

    &__input {
      background: #fff;
      box-shadow: 0px 2.58083px 12.9042px rgba(0, 0, 0, 0.39);
      border-radius: 12.9042px;
      border: none;
      padding: 1rem;
      width: 30rem;
    }

    &__textarea {
      background: #fff;
      box-shadow: 0px 2.58083px 12.9042px rgba(0, 0, 0, 0.39);
      border-radius: 12.9042px;
      width: 30rem;
      padding: 1rem;
      margin-bottom: 6rem;
    }

    &__select {
      background: #fff;
      box-shadow: 0px 2.58083px 12.9042px rgba(0, 0, 0, 0.39);
      border-radius: 12.9042px;
      min-width: 30rem;
      padding: 1rem;

      option:first-child {
        color: red;
    }
    }

    &-button {
      @include green-button()
    }
    &-button:hover {
      background: rgba(150, 192, 94, 0.5);
    }

    &-button_mobile {
      display: none;
    }
  }
}

@media (max-width: 1170px) {
  .feedback {
    &-form {
      justify-content: space-evenly;
      &__input {
        width: 20rem;
      }

      &__textarea {
        width: 20rem;
      }

      &__select {
        min-width: 20rem;
      }
    }
  }
}

@media (max-width: 560px) {
  .feedback {
    &-form {
      flex-direction: column;
      align-items: center;

      &-left,
      &-right {
        width: 100%;
      }

      &-left {
        margin-right: 5rem;
      }

      &-button {
        display: none;
      }

      &-button_mobile {
        display: block;
        margin-top: 2rem;
      }

      &__label {
        width: 100%;
        margin-bottom: 2rem;
      }

      &__input {
        width: 100%;
      }

      &__textarea {
        width: 100%;
        margin: 0
      }

      &__select {
        width: 100%;
      }
    }
  }
}
