@import "variables";
@import "mixins";

// footer

.footer{
    margin-top: 5rem;
    display: block;
    margin-bottom: 0;
}

.footer-wrapp{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer-section {
    width: 27%;
}
.social{
    margin-top: -13rem;
}
.logo-footer{
    width: 249px;
    height: 32px;
}

.contacts{
    @include subtitle();
    margin-bottom: 1.4rem;
    margin-top: 1.2rem;
}

.number{
    @include text();
}

.indentation{
    margin-bottom: 1rem;
}

.icon-contacts{
    width: 20px;
    height: 25px;
    margin-right: 1.2rem;
}
.icon-contacts--mail{
    width: 25px;
    height: 15px;
    margin-right: 1.2rem;
}

.adress{
    @include text();
}
.adress li {
    padding-bottom: 0.5rem;
}

.section-nav{
    @include text();
}

.section-nav li {
    padding-bottom: 0.5rem;
}

.section-nav>li:hover {
   
    text-decoration: underline;
    cursor: pointer;
}

.social-icons{
    margin-top: 1.3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2rem;

}

.social-icon{
    width: 2.4rem;
    
}
.youtube{
    width: 3rem;
}
.social-icon:hover{
  
}

.copyright{
margin-top: 1.6rem;
}

@media (max-width: 1236px){
    .footer{
        padding-left: 2rem;
        padding-right: 2rem;
    }
}
@media (max-width: 800px){
    .footer{
        margin-top: 8rem;
    }
    .footer-wrapp{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .social{
        margin-left: 2rem;
        margin-top: -5rem;
    }
    .footer-section {
        width: 100%;
        margin-left: 2rem;
    }
    .social-icons{
        margin-top: 1.3rem;
        display: flex;
        justify-content: flex-start;
        margin-bottom: 2rem;
    }
    .social-icon{
        width: 3rem;
        padding-right: 1.2rem;
    }
    .social {
        order: 4;
    }
    .footer-contacts--first{
        order: 1;
    }
    .footer-contacts--second{
        order: 2;
    }
    .footer-contacts--last{
        order: 3;
    }  
    .copyright{
    margin-top: 1.4rem;
    }
    .contacts{
        margin-bottom: 0.3rem;
    }
    .icon-contacts{
        width: 10px;
        height: 15px;
        margin-right: 1.2rem;
    }
    .icon-contacts--mail{
        width: 15px;
        height: 10px;
        margin-right: 1.2rem;
    }
}

@media (max-width: 470px){
    .social-icon{
        width: 2.5rem;
        padding-right: 1.2rem;
    }
}
@media (max-width: 360px){
    .social-icon{
        width: 2.5rem;
        padding-right: 1.2rem;
    }
    .logo-footer{
        width: 13rem;
        height: 1.5rem;
    }
}
