@import "variables";

@mixin green-button {
  padding: 10px 14px;
  background-color: $light-green;
  color: $grey;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  max-width: 332px;
  text-transform: uppercase;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  box-shadow: 0px 1.67618px 1.67618px rgba(0, 0, 0, 0.25);
}

@mixin white-button {
  padding: 8px 32px;
  border-radius: 16px;
  text-transform: uppercase;
  border: 2px solid #B0CD8B;
  cursor: pointer;
  color: #4C4D4F;
  background: white;
  font-size: 1.2rem;
}

@mixin section-title {
  font-size: 2.5rem;
  font-weight: bold;
  font-family: Montserrat;
  text-transform: uppercase;

  @media (max-width: 968px) {
    font-size: 1.8rem;
  }
}

@mixin subtitle {
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 2rem;
}

@mixin text {
  font-size: 1.2rem;
  line-height: 1.8rem;
}

