@import "variables";

@mixin green-button {
  padding: 1rem 2rem;
  background-color: $light-green;
  color: $grey;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  max-width: 332px;
  text-transform: uppercase;
}

@mixin section-title {
  font-size: 2rem;
  font-weight: bold;
  line-height: 2.4rem;
}

@mixin subtitle {
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 2rem;
}

@mixin text {
  font-size: 1.2rem;
  line-height: 1.8rem;
}
