@import "variables";
@import "mixins";

.partners-business{
    margin-top: 6.25rem;
}

.header-business{
    @include section-title();
    color: #4C4D4F;
    margin-bottom: 4.6rem;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    flex-basis: 33%;
    
}

.img-business{
    display:block;
    margin-bottom: 3.7rem;
    width: 6rem;

}

.center-tag{
    height: 2rem;
    padding-bottom: 7.5rem;
}

.img-three {
    width: 4.5rem;
    
}

.cards-business{
    flex-basis: 25%;
    align-items: flex-start;
}

.title-business{
    @include subtitle();
    color: #4C4D4F;
    margin-bottom: 1rem;
}

.text-business{
    @include text();
    color: #4C4D4F;
}


// deliveries

.deliveries{
    margin-top: 8.75rem;
}

.title-deliveries{
    @include section-title();
    margin-bottom: 6.25rem;
    padding-bottom: 3rem;
}

.inlin{
    padding: 2rem 0;
}

.map{
    width: 100%;
    margin: auto;
}


// To become partner

.become__partner{
    margin-top: 8.8rem;
}

.title-become__partner{
    @include section-title();
    margin-bottom: 2.6rem;
}


.text-become__partner{
    @include text();
}

.application{
    position: relative;
}

.wrapper{
    margin-top: 1.8rem;
    margin-left: 9.4rem;
}

.title-application{
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2rem;
    margin-bottom: 0.9rem;
}

.title-application:first-child{
    padding-top: 2.5rem;
}

.text-application{
    @include text();
    width: 43.75rem;
}

.btn-application{
    margin-top: 25px;
    border: none;
    width: 210px;
    height: 50px;
    background: rgba(176, 205, 139, 0.5);
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
}

.btn-application:hover {
    background: rgba(150, 192, 94, 0.5);
}

.number-app{
    position: absolute;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    background: rgba(176, 205, 139, 0.25);
    font-weight: bold;
    font-size: 40px;
    line-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #4C4D4F;
    top: 70px;
    left: 0;
}

.number-app::after {
    content: '';
    display: block;
    position: absolute;
    border: 2px dashed #4C4D4F;
    height: 110px;
    top: 100px;
    opacity: 0.5;    
}

.number-app-two{
    position: absolute;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    background: rgba(176, 205, 139, 0.25);
    font-weight: bold;
    font-size: 40px;
    line-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #4C4D4F;
    top: 300px;
    left: 0; 
}


@media (max-width: 1221px){
    .partners-business{
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .deliveries{
        padding-left: 0rem;
        padding-right: 0rem;
    }
    .become__partner{
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .title-deliveries{
        padding-left: 2rem;
    }
}

@media (max-width: 822px) {
    .header-business{
        font-size: 1.5rem;
        font-weight: bold;
        line-height: 2.4rem;
        margin-bottom: 4rem;
    }
        
    .cards-business{
        flex-basis: 80%;
        padding-bottom: 3rem;
    }

    .cards-business:last-child {
        padding-bottom: 0;
    }
    
    .title-business{
        font-size: 1.1rem;
        line-height: 2rem;
    }
    
    .text-business{
        font-size: 1rem;
        line-height: 1.6rem;
    }

    .title-deliveries{
        font-size: 1.5rem;
        font-weight: bold;
        line-height: 2.4rem;
        margin-bottom: 6rem;
    }

    // To become partner

    .title-become__partner{
        font-size: 1.5rem;
        font-weight: bold;
        line-height: 2.4rem;
        margin-bottom: 2rem;
    }   
    .text-become__partner{
        font-size: 1rem;
        line-height: 1.6rem;
    }
    .title-application{
        font-size: 1.5rem;
        font-weight: bold;
        line-height: 2rem;
        margin-bottom: 0.9rem;
    }
    
    .title-application:first-child{
        padding-top: 2.5rem;
    }
    
    .text-application{
        font-size: 1rem;
        line-height: 1.6rem;
        width: 100%;
    }
    
    .btn-application{
        margin-top: 1.5rem;
        border: none;
        background: rgba(176, 205, 139, 0.5);
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 1rem;
        line-height: 1.2rem;
        text-align: center;
        width: 110px;
        height: 30px;
    }

.number-app{
    position: absolute;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    background: rgba(176, 205, 139, 0.25);
    font-weight: bold;
    font-size: 30px;
    line-height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #4C4D4F;
    top: 70px;
    left: 0;
}

.number-app::after {
    content: '';
    display: block;
    position: absolute;
    border: 2px dashed #4C4D4F;
    height: 40px;
    top: 80px;
    opacity: 0.5;    
}

.number-app-two{
    position: absolute;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    background: rgba(176, 205, 139, 0.25);
    font-weight: bold;
    font-size: 30px;
    line-height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #4C4D4F;
    top: 200px;
    left: 0; 
}

}

@media (max-width: 400px) {
    .partners-business{
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .deliveries{
        padding-left: 0rem;
        padding-right: 0rem;
    }
    .become__partner{
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .header-business{
        font-size: 1rem;
        line-height: 1.4rem;
        margin-bottom: 2rem;
    }
    .img-business {
        margin-bottom: 3rem;
        width: 4rem;
    }
    .center-tag {
        height: 2rem;
        padding-bottom: 5rem;
    }
    .img-three {
        width: 4rem;
        
    }

    .cards-business:last-child {
        padding-bottom: 0;
    }
    
    .title-business{
        font-size: 1rem;
        line-height: 2rem;
    }
    
    .text-business{
        font-size: 0.8rem;
        line-height: 1.4rem;
    }

    // deliveries
    .deliveries{
        margin-top: 7rem;
    }
    .title-deliveries{
        font-size: 1rem;
        line-height: 1.4rem;
        margin-bottom: 2rem;
    }
    .title-become__partner {
        font-size: 1rem;
        line-height: 1.4rem;
        margin-bottom: 2rem;
    }
    .text-become__partner {
        font-size: 0.8rem;
        line-height: 1.4rem;
    }







    .btn-application{
        margin-top: 1.5rem;
        border: none;
        background: rgba(176, 205, 139, 0.5);
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 1rem;
        line-height: 1.2rem;
        text-align: center;
        margin-left: 9rem;
        margin-bottom: 13rem;
        font-size: 1rem;
        line-height: 1.2rem;
        width: 110px;
        height: 30px;
    }

    .title-application:first-child {
        padding-top: 2rem;
    }
    .wrapper{
        margin-top: 1.8rem;
        margin-left: 0;
    }
    .number-app{
        position: relative;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        background: rgba(176, 205, 139, 0.25);
        font-weight: bold;
        font-size: 1.7rem;
        line-height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #4C4D4F;
        top: 30px;
        left: 125px; 
    }
    
    .number-app::after {
        content: '';
        display: block;
        position: absolute;
        border: 2px dashed #4C4D4F;
        height: 50px;
        top: 200px;
        left: 22px;
        opacity: 0.5;    
    }
    
    .number-app-two{
        position: absolute;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        background: rgba(176, 205, 139, 0.25);
        font-weight: bold;
        font-size: 1.7rem;
        line-height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #4C4D4F;
        top: 300px;
        left: 125px; 
    }
    .pzeo{
        padding-bottom: 0;
        margin-bottom: 0;
    }
}

@media(max-width: 320px) {
    .btn-application{
        margin-top: 1.5rem;
        border: none;
        background: rgba(176, 205, 139, 0.5);
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 1rem;
        line-height: 1.2rem;
        text-align: center;
        margin-left: 7rem;
        margin-bottom: 13rem;
        font-size: 1rem;
        line-height: 1.2rem;
        width: 110px;
        height: 30px;
    }

    .title-application:first-child {
        padding-top: 2rem;
    }
    .wrapper{
        margin-top: 1.8rem;
        margin-left: 0;
    }
    .number-app{
        position: relative;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        background: rgba(176, 205, 139, 0.25);
        font-weight: bold;
        font-size: 1.7rem;
        line-height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #4C4D4F;
        top: 30px;
        left: 100px; 
    }
    
    .number-app::after {
        content: '';
        display: block;
        position: absolute;
        border: 2px dashed #4C4D4F;
        height: 50px;
        top: 200px;
        left: 22px;
        opacity: 0.5;    
    }
    
    .number-app-two{
        position: absolute;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        background: rgba(176, 205, 139, 0.25);
        font-weight: bold;
        font-size: 1.7rem;
        line-height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #4C4D4F;
        top: 300px;
        left: 100px; 
    }
}