@import "variables";
@import "mixins";

.partners {
  margin: 3rem 5rem 0 3rem;

  &-title {
    @include section-title();
  }

  &-carousel {
    border-top: 2px solid $dark-grey;
    border-bottom: 2px solid $dark-grey;
    padding: 3rem 0;

    &__item {
      max-width: 400px;
    }
  }

  .react-multi-carousel-item {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
