@import "variables";
@import "mixins";

.partners {

  &-title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 5rem;
  }

  &-carousel {
    border-top: 2px solid $dark-grey;
    border-bottom: 2px solid $dark-grey;
    padding: 3rem 0;

    &__item {
      max-width: 400px;
    }
  }

  .react-multi-carousel-item {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

