@import "variables";
@import "mixins";

.press-center {
  padding-top: 6rem;
}

.title-center {
  font-weight: bold;
  font-size: 30px;
  line-height: 41px;
  padding-bottom: 50px;
  text-transform: uppercase;
}

.press-center-cards {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
}

.wrapper-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.card-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 80px;
  max-width: 370px;
}

.img-card {
  width: 60%;
  margin-bottom: 15px;
}

.data-card {
  font-size: 19px;
  line-height: 30px;
  opacity: 0.5;
  margin-bottom: 13px;
}

.text-info {
  width: 50%;
  font-weight: bold;
  font-size: 14px;
  line-height: 27px;
}

@media (max-width: 768px) {
  .press-center {
    padding-top: 4rem;
  }
}
