@import "variables";
@import "mixins";

.press-center {
  &-title {
    @include section-title();
  }

  &-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &-item {
    display: flex;
    flex-direction: column;
    max-width: 307px;

    > * {
      margin-bottom: 1rem;
    }

    &__img {
      width: 307px;
      height: 228px;
    }

    &__time {
      color: $grey;
    }

    &__text {
      font-weight: bold;
      line-height: 1.45;
    }

    &__btn {
      @include green-button;
      padding: 0.4rem 1.2rem;
      font-size: 1.2rem;
    }
  }

  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem 0;

    .active {
      font-weight: bold;
    }

    > * {
      margin-right: 1rem;
      cursor: pointer;
    }

    *:last-child {
      margin-right: 0;
    }
  }
}

@media (max-width: 1170px) {
  .press-center {
    &-wrapper {
      justify-content: center;
    }

    &-item {
      margin: 20px;
    }

    &-title {
      text-align: center;
    }

    .pagination {
      margin: 3rem 0;
    }
  }
}
