@import "variables";
@import "mixins";


.style-form {
    margin-bottom: 0.7rem;
    font-size: 1.2rem;
    line-height: 0.8rem;
}

.feedback-f{
    padding-bottom: 6rem;
}

.feedback-btn{
    margin-top: 5rem;
    display: flex;
    justify-content: center;
}

.craft-btn {
font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  background: rgba(176, 205, 139, 0.5);
  padding: 0.6rem 1.7rem;
  border: none;
  font-size: 1.5rem;
  line-height: 1.8rem;
  text-align: center;
  margin-bottom: 0.7rem;
  cursor: pointer;
}

.feedback-forms {
    display: flex;
    justify-content: space-between;
}