@import "variables";
@import "mixins";


.style-form {
    margin-bottom: 0.7rem;
    font-size: 1.2rem;
    line-height: 0.8rem;
}

.feedback-subtitle{
    font-size: 1.2rem;
}

.feedback-f{
    padding-bottom: 6rem;
}

.feedback-btn{
    margin-top: 5rem;
    display: flex;
    justify-content: center;
}

.craft-btn {
font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  background: rgba(176, 205, 139, 0.5);
  padding: 0.8rem 1.7rem;
  border: none;
  font-size: 1.5rem;
  line-height: 1.8rem;
  text-align: center;
  margin-bottom: 0.7rem;
  cursor: pointer;
  text-transform: uppercase;
}

.craft-btn:hover {
    background: rgba(150, 192, 94, 0.5);
}

.feedback-forms {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media (max-width: 1680px){
    .input-indent{
        margin-bottom: 2rem;
    }
}
@media (max-width: 1249px){
    .feedback{
        padding: 0 2rem;
    }
    .input-indent{
        margin-bottom: 2rem;
    }
}


@media (max-width: 553px){
    .feedback{
        padding: 0 1rem;
    }
    .input-indent{
        width: 20rem;
    }
    .input-indents{
        min-width: 20rem;
        
    }
    .mess {
       
        margin-bottom: 0.7rem;
        font-size: 1.2rem;
        line-height: 0.8rem;
    }
    .input-inden{
        min-width: 20rem;
    }
}
@media (max-width: 553px){
    .feedback{
        padding: 0 1rem;
    }
    
    .input-indents{
        min-width: 13rem;
    }
    .fb-st{
        line-height: 2rem;
    }
    .mess {
        margin-bottom: 0.7rem;
        font-size: 1.2rem;
        line-height: 0.8rem;
    }
    .input-inden{
        min-width: 15rem;
    }
    .feedback-product{
        margin-left: 1rem;
        width: 138%;
    }
    .ml-name{
        margin-left: 1rem;
    }
}
@media (max-width: 320px){
    .feedback-product{
        width: 26rem;
    }
}