@import "variables";
@import "mixins";


.bg-grey{
  background: #F8F8F8;
  margin-bottom: 4.5rem;
}

.product-sections {
  padding-top: 3rem;
  display: flex;
  justify-content: center;
}

.section-nav {
  margin-bottom: 5rem;
}

.nav {
  display: inline;
  padding-right: 1rem;
  border-right: 0.1rem solid #c4c4c4;
  padding-left: 1rem;
  font-size: 1.5rem;
  line-height: 2.5rem;
}

.nav:last-child {
  border: none;
}

.nav:hover {
  border-bottom: 0.3rem solid #b0cd8b;
  width: auto;
  cursor: pointer;
}

.products {
  display: flex;
  justify-content: space-between;
  text-align: center;
  flex-wrap: wrap;
  
}

.product-price {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-basis: 30%;
  width: auto;
  margin-right: 0.4rem;
  margin-bottom: 3.75rem;
  padding-top: 0.2rem;
  padding-bottom: 0.5rem;
  height: auto;
  overflow: hidden;
  border: 0.12rem solid rgba(196, 196, 196, 0.5);
  border-radius: 5%;
}

.chick-fillet-one {
  width: 20rem;
  height: 15rem;
}

.pressdown {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.title-product {
  margin-top: 1.8rem;
  @include subtitle();
  text-align: left;
  margin-left: 1.2rem;
}

.subtitle-product {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 2.2rem;
  margin-bottom: 1.2rem;
  margin-left: 1.2rem;
}

.btn-end {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-basket {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  background: rgba(176, 205, 139, 0.5);
  padding: 0.6rem 1.4rem;
  border: none;
  font-size: 1.2rem;
  line-height: 1.8rem;
  text-align: center;
  margin-bottom: 0.7rem;
  cursor: pointer;
  text-transform: uppercase;
}

.btn-basket:hover {
  background: rgba(150, 192, 94, 0.5);
}

.food-counter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 2.5rem;
  border: 0.12rem solid rgba(196, 196, 196, 0.5);
  border-radius: 10%;
}

.counter-button {
  border: none;
  padding: 0.7rem;
  background: #fff;
}

.counter {
  border: 2px solid rgba(196, 196, 196, 0.5);
  padding: 0.7rem 1rem;
  border-top: none;
  border-bottom: none;
}

.wrapper-kg {
  position: relative;
}

.kg {
  position: absolute;
  left: 5.8rem;
  bottom: -0.4rem;
  color: #9d9d9e;
  font-size: 15px;
}

@media (max-width: 1680px){
  .btn-basket {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    background: rgba(176, 205, 139, 0.5);
    padding: 0.6rem 1.4rem;
    border: none;
    font-size: 1rem;
    line-height: 1.4rem;
    text-align: center;
    margin-bottom: 0.7rem;
    cursor: pointer;
    text-transform: uppercase;
    width: 130px;
    height: 39px;
}
.kg {
  position: absolute;
  left: 5.4rem;
  bottom: -0.4rem;
  color: #9d9d9e;
  font-size: 15px;
}
}

@media (max-width: 1237px){
  .wrapp{
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .product-price {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-basis: 44%;
    margin-bottom: 3.75rem;
    padding-top: 0.2rem;
    padding-bottom: 0.3rem;
    height: auto;
    overflow: hidden;
    border: 0.12rem solid rgba(196, 196, 196, 0.5);
    border-radius: 5%;
  }
}

@media (max-width: 850px){
  .product-price {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-basis: 50%;
    margin-left: 10rem;
    padding-bottom: 2rem;
  }
  .title-product {
    margin-top: 1.8rem;
    font-weight: bold;
    font-size: 1.1rem;
    line-height: 2rem;
    text-align: left;
    margin-left: 1.2rem;
  }
  
  .subtitle-product {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 1.2rem;
    margin-left: 1.2rem;
  }
  .kg {
    position: absolute;
    left: 5.8rem;
    bottom: -1rem;
    color: #9d9d9e;
    font-size: 15px;
}
}

@media (max-width: 686px){
  .nav {
    display: inline;
    padding-right: 1rem;
    border-right: 0.1rem solid #c4c4c4;
    padding-left: 1rem;
    font-size: 1.2rem;
    line-height: 2rem;
  }
  .product-price {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-basis: 80%;
    margin-left: 3rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .chick-fillet-one {
    width: 15rem;
    height: 10rem;
  }
  .btn-basket {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .btn-end {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .food-counter{
    width: 42%;
    margin-left: 0.5rem;
  }
  .kg {
    position: absolute;
    left: 4rem;
    bottom: -1.8rem;
    color: #9d9d9e;
    font-size: 15px;
  }
}

@media (max-width: 574px){
  .nav {
    display: inline;
    padding-right: 1rem;
    border-right: 0.1rem solid #c4c4c4;
    padding-left: 0.6rem;
    font-size: 1.2rem;
    line-height: 2rem;
  }
  .product-price {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-basis: 200rem;
    margin-left: 1rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 1rem;
  }
  .nav {
    display: inline;
    padding-right: 1rem;
    border-right: 0.1rem solid #c4c4c4;
    padding-left: 1rem;
    font-size: 0.85rem;
    line-height: 2rem;
  }
  .chick-fillet-one {
    width: 12rem;
    height: 7rem;
  }
  .title-product {
    margin-top: 1.8rem;
    font-weight: bold;
    font-size: 1rem;
    line-height: 2rem;
    text-align: left;
    margin-left: 1.2rem;
  }
  
  .subtitle-product {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 1.2rem;
    line-height: 2rem;
    margin-bottom: 1.2rem;
    margin-left: 1.2rem;
  } 
}
@media (max-width: 438px){
  .wrapp{
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .nav {
    display: inline;
    padding-right: 1rem;
    border-right: 0.1rem solid #c4c4c4;
    padding-left: 0.6rem;
    font-size: 0.7rem;
    line-height: 1rem;
  }
}
