@import "variables";
@import "mixins";


.style-form {
    margin-bottom: 10px;
    font-size: 19px;
    line-height: 13px;
}

.feedback-btn{
    margin-top: 130px;
    display: flex;
    justify-content: center;
    
}

.craft-btn {
    background: rgba(176, 205, 139, 0.5);
    padding: 15px 100px;
    font-weight: bold;
    font-size: 20px;
    line-height: 43px;
    text-align: center;
    border: none;
    cursor: pointer;
}

.feedback-forms {
    display: flex;
    justify-content: space-around;
}