@import "variables";
@import "mixins";


// product-sections

.product-sections{
    margin-top: 200px;
    display: flex;
    justify-content: center;
}

.section-nav{
    margin-bottom: 24px;
}

.nav{
    display: inline;
    margin-right: 10px;
    border-right: 1px solid #C4C4C4;
    padding-right: 10px;

    font-size: 25px;
    line-height: 42px;
}

.nav:last-child{
    border: none;
}

.nav:hover{
    border-bottom: 5px solid #B0CD8B;
    cursor: pointer;
}


// products

.products{
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap;
    margin-bottom: 100px;
}

.product-price{
    flex-basis: 30%;
    
}

.chick-fillet-one{
    width: 269px;
    height: 192px;
}

.chick-fillet-two{
    width: 269px;
    height: 192px;
}

.chick-fillet-three{
    width: 277px;
    height: 190px;
}

.title-product-fix{
    margin-top: 30px;
    font-weight: bold;
    font-size: 20px;
    line-height: 37px;
    padding-top: 5px;
}

.subtitle-product-fix{
    font-size: 25px;
    line-height: 41px;
    margin-bottom: 20px;
    padding-top: 31px;
}


.title-product{
    margin-top: 30px;
    font-weight: bold;
    font-size: 20px;
    line-height: 37px;
}

.subtitle-product{
    font-size: 25px;
    line-height: 41px;
    margin-bottom: 20px;
}

.btn-basket{
    background: rgba(176, 205, 139, 0.5);
    padding: 10px 33px;
    border: none;
    font-weight: bold;
    font-size: 20px;
    line-height: 35px;
    text-align: center;
    margin-bottom: 38px;
}
