@import "variables";
@import "mixins";

.brand {
    padding-top: 7.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 7rem;
}

.choice__brand {
    @include section-title();
    text-transform: uppercase;
}

.logo-chick {
    width: 369px;
    height: 135px;
    display: block;
    margin: -115px auto;
}

.logo-micprom {
    width: 389px;
    height: 49px;
}
