@import "variables";
@import "mixins";

.brand {
    padding-top: 7.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 7rem;
}

.choice__brand {
    @include section-title();
    text-transform: uppercase;
}

.logo-chick {
    width: 369px;
    height: 135px;
    display: block;
    margin: -115px auto;
    margin-right: 3rem;
}

.logo-micprom {
    width: 389px;
    height: 49px;
}
.logo-brand{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 1690px){
    
    .choice__brand{
        font-size: 1.2rem;
        line-height: 2rem;
        padding-right: 4rem;
        width: 100%;
    }
    .logo-chick{
        width: 70%;
        height: 50%;
        display: block;
        margin-right: 10rem;
        margin-top: -7rem;

    }
    
    .logo-micprom{
        margin-right: 0;
        padding-right: 0;
        width: 90%;
        height: 50%;
    }
}
@media(max-width: 1004px){
    .logo-chick{
        width: 70%;
        height: 50%;
        margin-top: -80px;
    }
    .logo-micprom{
        width: 90%;
        height: 50%;
    }
}
@media(max-width: 918px){
    .logo-chick{
        width: 70%;
        height: 50%;
        margin-top: -80px;
    }
    
    .logo-micprom{
        width: 90%;
        height: 50%;
    }
}
@media(max-width: 840px){
    .brand{
        display: none;
    }
}